.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    /* align-content: center; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;

}

.card{
    height: 240px;
    width: 240px;
    border-radius: 10px;
    margin: 30px 0px 0px 30px;
    background-color: black;
    color: white;
}

.cardContent{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:flex-start;
    align-content:flex-start;
    height: 100%;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 0px 10px;
}

.proImg{
    height: 110px;
    width: 195px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 5px 0px 0px 10px;
}

.proImage{
    height: 110px;
    width: 195px;
    /* border: 2px solid white; */
    border-radius: 10px;
    /* margin: 10px 0px 0px 10px; */
}

.proDetails{
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 15px;
    align-items:flex-start;
    align-content:flex-start;
    margin: 10px 0px 0px 10px;
}

.modal{
    display: flex;
    flex-direction: row;
    
    height: 80%;
    width: 80%;
    background-color: black;
    position: fixed;
    top: 10%;
    color: white;
}
.closeButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 40px;
    background-color: black;
    color: white;
    cursor: pointer;

}
.modalContent{
    border: 2px solid white;
    display: flex;
    width: 70%;
    flex-direction: column;
    color: white;
    overflow-y: auto;
}
.modalImage{
    height: 300px;
    width: 500px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px 0px 0px 10px;
}
.comment{
    border: 2px solid white;
    display: flex;
    flex-direction: column-reverse;
    /* align-content: flex-end; */
    width: 30%;
}
